<h3>Subscribe in your favorite podcast app.</h3>

<div class="container">
  <a href="https://itunes.apple.com/us/podcast/that-mac-nerd-podcast/id1441372173?mt=2"><img class="pad" src="/assets/images/button-itunes.jpg" alt="subscribe on itunes"></a>
  <a href="https://overcast.fm/itunes1441372173/that-mac-nerd-podcast"><img class="pad" src="/assets/images/button-overcast.jpg" alt="subscribe on overcast"></a>
  <a href="https://pca.st/87eS"><img class="pad" src="/assets/images/button-pocket-casts.jpg" alt="subscribe on pocketcasts"></a>
</div>
